/* Стили для заголовков */
h1, h2 {
    color: black; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    font-weight: 400; /* Насыщенность шрифта */
    background-color: rgb(240, 240, 240); /* Цвет фона в RGB */
}

/* Стили для краткого описания товара */
p {
    color: rgb(50, 50, 50); /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Начертание шрифта */
    line-height: 16px; /* Высота текста */
}

/* Стили для подробного описания товара */
section {
    color: rgb(30, 30, 30); /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: 400; /* Насыщенность шрифта */
    line-height: 24px; /* Высота текста */
    text-align: left; /* Расположение текста по левому краю */
}

/* Стили для списка характеристик товара */
ul {
    list-style-image: url('c:\proga\фотки для лабы\ФОТОГРАФ_2.jpg'); 
    list-style-image: url('c:\proga\фотки для лабы\фотостудия2.jpg');
    list-style-image: url('c:\proga\фотки для лабы\макияж3.jpg');
    list-style-image: url('c:\proga\фотки для лабы\фотограф едет.jpg');/* Установка изображения в качестве маркера списка */
    /* Дополнительные стили для списка характеристик товара */
}